.login {
    &-row {
        height: 100vh;
    }

    &__container {

        .title {
            font-size: 1.3em;
            font-weight: 600;
        }

        .logo {
            height: 125px;
            width: 200px;
            display: block;
            margin-left : auto; 
            margin-right : auto;
            margin-bottom: 10px;
        }
    }

}